<div class="hero">
  <div class="container">
    <%= link_to image_tag('logo', class: 'logo'), '/' %>
    <div class="col headline">
      <h1>Never Deal with Baggage Claim Again.</h1>
      <p>PurpleTag retrives your bags from baggage claim and hand-delivers them to your final destination</p>
      <button type="button" id="request" class="btn btn-outlined btn-lg">Get Started</button>
    </div>
  </div>
</div>
<div class="container how">
  <h2 class="text-center">How it Works</h2>
  <div class="row text-center">
    <div class="col-md-4 step">
      <%= image_tag "itinerary" %>
      <h3>Provide Us Your Itinerary</h3>
      <p>Forward your trip details to our travel concierge.</p>
    </div>
    <div class="col-md-4 step">
      <%= image_tag "tag" %>
      <h3>Receive Complimentary Tags</h3>
      <p>Attach tags to bags so we can easily locate your bags.</p>
    </div>
    <div class="col-md-4 step">
      <%= image_tag "car" %>
      <h3>Skip Baggage Claim</h3>
      <p>Get to your destination 30 minutes to one hour faster.</p>
    </div>
  </div>
</div>
<div class="faq">
  <div class="container">
    <h2 class="heading text-center">Frequently Asked Questions</h2>
    <br />
    <p><strong>How long will it take for my bags to arrive at my hotel?</strong></p>
    <p>Up to 4 hours, depending on distance to final destination and traffic conditions.</p>
    <br />
    <p><strong>Where do I pick up my bags at the hotel?</strong></p>
    <p>We will ensure your bags are stored safely at the front desk or brought directly to your room.</p>
    <br />
    <p><strong>What happens if my bags get lost?</strong></p>
    <p>We are so confident in our operations that we will reimburse up to $1,000 of luggage value per bag.</p>
    <br />
    <p><strong>What if my flight is delayed?</strong></p>
    <p>Our travel concierge tracks all flights in real time and will dispatch our valet at the appropriate time.</p>
  </div>
</div>
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="signup-form">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="signup-form">
            <div class="form-group row">
              <h3>Request your free tags today</h3>
              <p class="errors" id="signup-errors"></p>
            </div>
            <div class="form-group row">
              <input type="text" class="form-control" placeholder="Name" id="signup-form-name" tabindex=1>
            </div>
            <div class="form-group row">
              <input type="text" class="form-control" placeholder="Email" id="signup-form-email" tabindex=2>
            </div>
            <div class="form-group row">
              <select class="selectpicker" data-live-search="true" id="signup-form-default-airport" data-width="100%" title="Where are you flying?" tabindex=3>
                <option data-tokens="Hartsfield Jackson Atlanta International Atlanta ATL" value="ATL">Hartsfield Jackson Atlanta International (ATL)</option>
                <option data-tokens="Chicago O’Hare International Chicago ORD" value="ORD">Chicago O’Hare International (ORD)</option>
                <option data-tokens="Los Angeles International Los Angeles LAX" value="LAX">Los Angeles International (LAX)</option>
                <option data-tokens="Dallas Fort Worth International Dallas-Fort Worth DFW" value="DFW">Dallas Fort Worth International (DFW)</option>
                <option data-tokens="Denver International Denver DEN" value="DEN">Denver International (DEN)</option>
                <option data-tokens="John F Kennedy International New York JFK" value="JFK">John F Kennedy International (JFK)</option>
                <option data-tokens="San Francisco International San Francisco SFO" value="SFO">San Francisco International (SFO)</option>
                <option data-tokens="Charlotte Douglas International Charlotte CLT" value="CLT">Charlotte Douglas International (CLT)</option>
                <option data-tokens="McCarran International Las Vegas LAS" value="LAS">McCarran International (LAS)</option>
                <option data-tokens="Phoenix Sky Harbor International Phoenix PHX" value="PHX">Phoenix Sky Harbor International (PHX)</option>
                <option data-tokens="George Bush Intercontinental Houston Houston IAH" value="IAH">George Bush Intercontinental Houston (IAH)</option>
                <option data-tokens="Miami International Miami MIA" value="MIA">Miami International (MIA)</option>
                <option data-tokens="Orlando International Orlando MCO" value="MCO">Orlando International (MCO)</option>
                <option data-tokens="Newark Liberty International Newark EWR" value="EWR">Newark Liberty International (EWR)</option>
                <option data-tokens="Seattle Tacoma International Seattle SEA" value="SEA">Seattle Tacoma International (SEA)</option>
                <option data-tokens="Minneapolis-St Paul International/Wold-Chamberlain Minneapolis MSP" value="MSP">Minneapolis-St Paul International/Wold-Chamberlain (MSP)</option>
                <option data-tokens="Detroit Metropolitan Wayne County Detroit DTW" value="DTW">Detroit Metropolitan Wayne County (DTW)</option>
                <option data-tokens="Philadelphia International Philadelphia PHL" value="PHL">Philadelphia International (PHL)</option>
                <option data-tokens="General Edward Lawrence Logan International Boston BOS" value="BOS">General Edward Lawrence Logan International (BOS)</option>
                <option data-tokens="La Guardia New York LGA" value="LGA">La Guardia (LGA)</option>
                <option data-tokens="Fort Lauderdale Hollywood International Fort Lauderdale FLL" value="FLL">Fort Lauderdale Hollywood International (FLL)</option>
                <option data-tokens="Baltimore/Washington International Thurgood Marshall Baltimore BWI" value="BWI">Baltimore/Washington International Thurgood Marshall (BWI)</option>
                <option data-tokens="Washington Dulles International Washington IAD" value="IAD">Washington Dulles International (IAD)</option>
                <option data-tokens="Salt Lake City International Salt Lake City SLC" value="SLC">Salt Lake City International (SLC)</option>
                <option data-tokens="Ronald Reagan Washington National Washington DCA" value="DCA">Ronald Reagan Washington National (DCA)</option>
                <option data-tokens="Chicago Midway International Chicago MDW" value="MDW">Chicago Midway International (MDW)</option>
                <option data-tokens="Honolulu International Honolulu HNL" value="HNL">Honolulu International (HNL)</option>
                <option data-tokens="San Diego International San Diego SAN" value="SAN">San Diego International (SAN)</option>
                <option data-tokens="Tampa International Tampa TPA" value="TPA">Tampa International (TPA)</option>
                <option data-tokens="Cleveland Hopkins International Cleveland CLE" value="CLE">Cleveland Hopkins International (CLE)</option>
                <option data-tokens="Portland International Portland PDX" value="PDX">Portland International (PDX)</option>
                <option data-tokens="Lambert St Louis International St Louis STL" value="STL">Lambert St Louis International (STL)</option>
                <option data-tokens="William P Hobby Houston HOU" value="HOU">William P Hobby (HOU)</option>
                <option data-tokens="Metropolitan Oakland International Oakland OAK" value="OAK">Metropolitan Oakland International (OAK)</option>
                <option data-tokens="Kansas City International Kansas City MCI" value="MCI">Kansas City International (MCI)</option>
                <option data-tokens="Nashville International Nashville BNA" value="BNA">Nashville International (BNA)</option>
                <option data-tokens="Austin Bergstrom International Austin AUS" value="AUS">Austin Bergstrom International (AUS)</option>
                <option data-tokens="Raleigh Durham International Raleigh/Durham RDU" value="RDU">Raleigh Durham International (RDU)</option>
                <option data-tokens="Sacramento International Sacramento SMF" value="SMF">Sacramento International (SMF)</option>
                <option data-tokens="John Wayne-Orange County Santa Ana SNA" value="SNA">John Wayne-Orange County (SNA)</option>
                <option data-tokens="Other" value="Other">Other</option>
              </select>
            </div>
            <div class="form-group row">
              <button type="submit" class="btn btn-primary btn-md">Request Tags</button>
            </div>
          </div>
        </form>
        <div id="form-success">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="success-text">Thanks for signing up!</h3>
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
          <h4 class="success-text" id="success-message">Check your email to claim your tags!</h4>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="tagline">
  <p><%= image_tag "footer_tag" %></p>
  <h3>White Glove Baggage Delivery</h3>
  <div class="copyright">Copyright &copy; <%= Time.now.strftime('%Y') %> PurpleTag. All Rights Reserved.</div>
</div>
